.layout-wrap {
  height: 100%;
}

.layout-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #fff;

  @include webkit(box-shadow, 0 3px 16px 0 rgba(0, 0, 0, .1));
}

.layout-content {
  padding: 24px;
  overflow-y: auto;
  color: #666;
  background-color: #fff;
}
