.search-form-wrap {
  padding-bottom: 12px;
  border-radius: 6px;
  background: #fdfdfd;

  .ant-form-inline,
  .ant-form-vertical {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 18px;
    margin-bottom: 12px;

    .ant-form-item {
      flex: 0 1 calc((100% - 54px) / 4);
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .ant-form-inline {
    .ant-form-item + .search-btn {
      flex: none;
    }
  }

  .ant-form-vertical {
    .ant-form-item + .search-btn {
      flex: none;
      width: 100%;
      margin-top: 12px;
      text-align: center;
    }
  }
}
